﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}

<div id="content" class="clearfix" ng-controller="homePageCtrl">


    <div id="boxes" class="fullwidth masoned" style="position: relative; height: 360px; padding-left: 4%;">
        <div class="col-md-11 form-group">
            <input type="text" ng-model="searchString" ng-keyup="setSearchString()" class="form-control" placeholder="Type your search keyword.." style="color: white; background-color: #2C2C2C;">
        </div>
        <div dir-paginate="adPost in getAdPostList|orderBy:'title'|itemsPerPage:$root.itemViewPerPage" total-items="totalItemCount" class="entry small box_view ng-scope" style="height: 280px !important;">
            <div class="thumbnail1">
                <a href="/Profile/Index/{{adPost.id}}">
                    <img src="/ApplicationImage/AdPost/{{adPost.featuredImage}}" width="222" height="180">
                    <span class="overlay"></span>
                </a>
                <div class="category">
                    <ul class="post-categories">
                        <li>
                            <a href="/Search/Index/{{adPost.locationId}}?SearchBy=Location" rel="category tag">{{adPost.locationName}}</a>
                        </li>
                    </ul>
                </div>
                <span class="month">{{adPost.month}}<span class="date">{{adPost.day}}</span></span>
            </div>
            <h2 class="title">
                <a href="/Profile/Index/{{adPost.id}}">{{adPost.name}}</a>
            </h2>
            <p class="postinfo">
                posted by<a href="#" title="Posts by admin" rel="author">admin</a>
            </p>
        </div>        
    </div>
    <div class=" row col-md-12 col-lg-12 align-content-lg-center align-items-lg-center text-center center">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-3 col-lg-6">
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true" on-page-change="getPageNo(newPageNumber)">
            </dir-pagination-controls>
        </div>
        <div class="col-md-3 col-lg-3 row">
            <div class="col-md-8 col-lg-8"></div>
                <div class="col-md-4 col-lg-4">
                    <select ng-model="viewPerPage" class="form-control" ng-change="setViewPerPage(viewPerPage)"  style="color: white; background-color: #2C2C2C;">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
    </div>


    @*<div id="boxes" class="fullwidth masoned" style="position: relative; height: 360px; padding-left: 4%;">
            <div ng-mouseover="makeTall($event)" ng-repeat="adPost in getAdPostList |orderBy:publishDate" class="entry small box_view" style="height: 280px !important;">
                <div class="thumbnail1">
                    <a href="/Profile/Index/{{adPost.id}}">
                        <img src="/ApplicationImage/AdPost/{{adPost.featuredImage}}" width="222" height="180">
                        <span class="overlay"></span>
                    </a>
                    <div class="category">
                        <ul class="post-categories">
                            <li>
                                <a href="/Search/Index/{{adPost.locationId}}?SearchBy=Location" rel="category tag">{{adPost.locationName}}</a>
                            </li>
                        </ul>
                    </div>
                    <span class="month">{{adPost.month}}<span class="date">{{adPost.day}}</span></span>
                </div>
                <h2 class="title">
                    <a href="/Profile/Index/{{adPost.id}}">{{adPost.name}}</a>
                </h2>
                <p class="postinfo">
                    posted by<a href="#" title="Posts by admin" rel="author">admin</a>
                </p>
            </div>
        </div>*@

</div>
@*<div id="controllers" class="clearfix">
    <div class="wp-pagenavi">
        <span class="pages">Page 1 of 2</span><span class="current">1</span><a class="page larger" title="Page 2" href="https://www.elegantthemes.com/preview/TheStyle/page/2/">2</a><a class="nextpostslink" rel="next" href="https://www.elegantthemes.com/preview/TheStyle/page/2/">»</a>
    </div><a href="https://www.elegantthemes.com/preview/TheStyle/page/2/"><span id="right-arrow"></span></a>
</div>*@
@section page_styles {
    <style type="text/css">
        .box_view {
            margin-left: 1%;
            top: 0px;
            z-index: 1;
            /*opacity: 0.3;*/
        }
    </style>
}

@section Scripts {
    <script src="~/js/application/home-page.js"></script>
    <script type="text/javascript" src="~/Theme/Scripts/jquery.hoverIntent.minified.js"></script>

    <script type="text/javascript">
        


    </script>
}