﻿
@{
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}

<div id="content" class="clearfix" ng-controller="webpageCtrl">
    <div id="boxes" class="fullwidth masoned" style="position: relative; height: 360px; padding-left: 4%;">
        <input id="Id" type="hidden" value="@ViewBag.Id" />
        <div class="col-md-12 col-lg-12" ng-bind-html="pageValue" style="color: white;">         </div>
    </div>
</div>

@section page_styles {
    <style type="text/css">
    </style>
}

@section Scripts {
    <script type="text/javascript">

        appModule.controller('webpageCtrl', ['$http', '$scope', '$window', 'ApplicationConfiguration', '$sce', function ($http, $scope, $window, ApplicationConfiguration, $sce) {
            $scope.path = '/Home/';
            $scope.pageUrl = $scope.path + 'GetMenuById';

            $scope.pageModel = {
                Id: null
                , Name: null
                , Description: null
                , Status: null
                , Order: null
            };

            $scope.pageValue = null;

            $scope.GetPageInfo = function () {
                $http({
                    method: "GET",
                    url: $scope.pageUrl,
                    params: { "Id": $("#Id").val() }
                }).then(function mySuccess(response) {
                    //$scope.pageModel = response.data.value;

                    $scope.pageValue = $sce.trustAsHtml(response.data.value.description);
                    

                    //alert($scope.pageModel.name);
                    //alert($scope.pageModel.description);
                });
            };

            $scope.GetPageInfo();

        }]);

    </script>
}
