﻿
@{
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TermsOfUse</title>
</head>
<body>
</body>
</html>
