﻿@model IEnumerable<Sppages.Model.Master.TagModel>
@{
    ViewBag.Title = "Save Employee Information";
    Layout = "_LayoutBackEnd";
}

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form id="save_information" class="m-form m-form--fit m-form--label-align-right">
                    <input id="Id" type="hidden" value="@ViewBag.EmployeeId">
                    <input id="Picture" type="hidden">
                    <div class="m-portlet__body">

                        <div class="row">
                            <div class="col-lg-9">

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label>Name:</label>
                                        <input id="Name" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="100" required placeholder="Enter full name">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="">Email:</label>
                                        <input id="EmailAddress" type="email" class="form-control m-input m_maxlength_1_custom" required maxlength="50" placeholder="Enter email">
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label class="">Mobile:</label>
                                        <input id="MobileNo" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Enter contact number">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="">Address:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input id="Address" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="500" placeholder="Enter address">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label class="">Zip Code:</label>
                                        <input id="ZipCode" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Enter zip code">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="">City:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input id="CityName" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="100" placeholder="Enter city name">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label class="">Country:</label>
                                        <input id="CountryName" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="100" placeholder="Enter country name">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="">Status:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <select class="form-control m-input m-input--air" id="Status">
                                                <option>Active</option>
                                                <option>Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="form-group m-form__group">
                                    <div class="media">
                                        <img src="~/images/avatar.jpg" id="imgProfilePicture" class="img-responsive" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6" style="margin-left: -15px;">
                                        <a href="javascript:loadModalInInsertMode();" class="btn btn-focus m-btn m-btn--icon m-btn--pill">
                                            <span>
                                                <i class="la la-upload"></i>
                                                <span>Upload</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a href="javascript:removeImage();" class="btn btn-danger m-btn m-btn--icon m-btn--pill">
                                            <span>
                                                <i class="la la-trash"></i>
                                                <span>Remove</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <button id="btnSaveUpdate" type="button" class="btn btn-primary" style="width: 12%;">Save</button>
                                    <a href="@Url.Action("Index", "Employee", new{Area="Master"})" type="button" class="btn btn-secondary" style="width: 12%;">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade blockui_modal" id="upload_image_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="">Upload Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-remove"></span>
                </button>
            </div>

            <form id="upload_image" class="m-form m-form--fit m-form--label-align-right">
                <div class="modal-body">
                    <div class="form-group m-form__group row m--margin-top-20">

                        <div class="row col-md-12 form-group">
                            <img id="imgImage" class="img-responsive" />
                        </div>

                        <div class="row col-md-4">
                            <span class="btn btn-focus m-btn m-btn--pill fileinput-button-property" style="">
                                <i class="la la-plus"></i>
                                <span>SELECT IMAGE</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="imgUploadImage" type="file">
                            </span>
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <button id="btnUpload" onclick="javascript: uploadImage();" type="button" class="btn btn btn-focus m-btn m-btn--pill">
                                <span>
                                    <i class="la la-upload"></i>
                                    <span>Start Upload</span>
                                </span>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnDone" type="button" class="btn btn-brand m-btn" data-dismiss="modal">Done</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section page_styles {
    <link href="~/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .fileinput-button-property {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

            .fileinput-button-property input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }
    </style>

}
@section Scripts {
    <script src="~/vendors/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/js/BlockUI_Custom.js"></script>
    <script>

        jQuery(document).ready(function () {
            formValidation();
            if ($("#Id").val() != "") {
                loadEmployeeInformation($("#Id").val());
            }
        });

        function loadEmployeeInformation(id) {
            blockUI_Page();
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("GetEmployee", "Employee", null))",
                data: {"Id": id},
                dataType: "html",
                success: function(result) {
                    var parseData = JSON.parse(result);
                    var employee = parseData.value;
                    $("#Id").val(employee.id);
                    $("#Name").val(employee.name);
                    $("#EmailAddress").val(employee.emailAddress);
                    $("#MobileNo").val(employee.mobileNo);
                    $("#Address").val(employee.address);
                    $("#CityName").val(employee.cityName);
                    $("#ZipCode").val(employee.zipCode);
                    $("#CountryName").val(employee.countryName);
                    $("select#Status").val(employee.status);

                    if (employee.picture != null && employee.picture != "")
                        $("#imgProfilePicture").attr("src", "/ApplicationImage/Employee/" + employee.picture);
                },
                error: function(error) {
                    var msg = 'Fail to load employee information.';
                    alert(msg);
                }
            });
            unblockUI_Page();
        }

        function uploadImage() {
            var imgFiles = $("#imgUploadImage").get(0).files;
            if (imgFiles.length== '0') {
                alert("Please select a image file.");
                $("#imgUploadImage").focus();
            } else {
                blockUI_Upload_Modal();
                var fd = new FormData();
                fd.append("uploadImage", imgFiles[0]);
                $.ajax({
                    type: "POST",
                    url: "@(@Url.Action("UploadImage", "Employee", new {Area = "Master"}))",
                    data: fd,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.success == true) {
                            $("#imgImage").attr("src", "/temp/" + data.fileName);
                            $("#imgProfilePicture").attr("src", "/temp/" + data.fileName);
                            $("#Picture").val(data.fileName);
                        }
                    },
                    failure: function(response) {
                    },
                    error: function(XMLHttpRequest, textStatus) {
                    }
                });
                unblockUI_Upload_Modal();
            }
        }

        function formValidation() {
            $("#btnSaveUpdate").on("click",
                function () {
                    if ($("#save_information")[0].checkValidity()) {
                        saveData();
                    } else {
                        $("#save_information")[0].reportValidity();
                    }
                });
        }

        function saveData() {
            blockUI_Page();
            var fd = new FormData();

            fd.append("Id", $("#Id").val());
            fd.append("Name", $("#Name").val());
            fd.append("EmailAddress", $("#EmailAddress").val());
            fd.append("MobileNo", $("#MobileNo").val());
            fd.append("Address", $("#Address").val());
            fd.append("CityName", $("#CityName").val());
            fd.append("ZipCode", $("#ZipCode").val());
            fd.append("CountryName", $("#CountryName").val());
            fd.append("Picture", $("#Picture").val());
            fd.append("Status", $("#Status :selected").val());
            
            $.ajax({
                type: "POST",
                url: "@(@Url.Action("InsertUpdate", "Employee", new {Area = "Master"}))",
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#Id").val("");
                    $("#Name").val("");
                    $("#EmailAddress").val("");
                    $("#MobileNo").val("");
                    $("#Address").val("");
                    $("#CityName").val("");
                    $("#ZipCode").val("");
                    $("#CountryName").val("");
                    $("#Picture").val("");
                    $("select#Status").val('Active');
                    $("#imgProfilePicture").attr("src", "/images/avatar.jpg");
                    window.location.href = data.redirectUrl;
                    unblockUI_Page();
                },
                failure: function(response) {
                    unblockUI_Page();
                },
                error: function(XMLHttpRequest, textStatus) {
                    unblockUI_Page();
                }
            });
        }

        function loadModalInInsertMode() {
            $("#imgProfilePicture").val("");
            $("#imgImage").attr("src", "");
            $("#imgUploadImage").val('');
            $("#upload_image_modal").modal();
        }

        function removeImage() {
            if (confirm('Are you sure you want to delete?') == true) {
            $("#imgProfilePicture").attr("src", "/images/avatar.jpg");
                $("#Picture").val("");
            }
        }

    </script>

}
