/*
Theme Name: TheStyle
Theme URI: http://www.elegantthemes.com/gallery/
Version: 4.2.9
Description: 2 Column theme from Elegant Themes
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
*/


/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }


/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('fonts/League_Gothic-webfont.eot');
	src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/League_Gothic-webfont.woff') format('woff'),
		 url('fonts/League_Gothic-webfont.ttf') format('truetype'),
		 url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { line-height: 19px; font-family: 'Droid Sans', Arial, Verdana, sans-serif; font-size: 13px; color: #7a7575; background-color: #2c2c2c;}

a { text-decoration: none; color: #00b7f3; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #808080; letter-spacing: -1px; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #808080; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 18px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
	blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

#header { margin-bottom:50px; }

#container { background: #323232 url(images/container-bg.png) repeat-y; position: relative; }
	#container2 { background:  url(images/container-bg-right.png) top right repeat-y; min-height: 300px; padding: 0px 0 0px 3%; }
		#logo { /*margin: 122px 0px 5px 0px;*/ }

		#search-form {float: right; background: url(images/search-bg.png) no-repeat; width: 191px; height: 33px; margin: 12px 3% 0px 0px;}
			input#searchinput { background:none; border: none; font-size: 12px; font-style: italic; color: #595959; text-shadow: 1px 1px 1px #000; margin-top:0px; padding-left:13px; width:146px; float: left; position: relative; top: 5px; }
			input#searchsubmit { float:left; margin-top:10px; }

	#content { padding-bottom: 25px; position: relative; }
		.entry { position: relative; margin: 0px 0px 24px; background-color: #fff; border: 1px solid #fff; box-shadow: 3px 6px 7px 1px rgba(0, 0, 0, 0.6); -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6); float: left; }
			.small { width:222px; }
			.big { width:470px; }
				.thumbnail {width: 222px; height: 180px; margin: 2px 0px 14px 2px; position: relative;}
				.big .thumbnail {width: 466px;}

					.thumbnail .overlay {background: url(images/overlay.png) no-repeat; display:block; position: absolute; height: 180px; width: 224px; top: 0px; left: 0px;}
					.big .thumbnail .overlay {background: url(images/overlay2.png) no-repeat; display:block; position: absolute; height: 180px; width: 480px; top: 0px; left: 0px;}
					div.category {background-color: #9a1d0d; display:block; position: absolute; top: 0px; right: 0px; padding: 8px 8px 3px 8px; }
						div.category a {font-size: 22px; color: #ffffff; text-decoration: none; text-transform: uppercase; }
					span.month {font-size: 48px; color: #ffffff; text-decoration: none; text-transform: uppercase; position: absolute; top: 40px; right: 0px; padding-right: 8px;}
						span.date {display:block; position: absolute; top: 40px; right: 0px; padding-right: 8px;}
			h2.title { padding: 5px 15px; }
				h2.title a {font-size: 30px; color: #9a1d0d; text-decoration: none; text-transform: uppercase; }
				p.postinfo {padding: 0px 15px 10px; font-size: 18px; text-transform: uppercase; color: #2c2c2c;margin-top: -2px; }
					p.postinfo a {text-decoration: none; color: #2c2c2c;}
				.entry-content {background: url(images/entry-bottom-bg.png) repeat-x bottom left; padding-bottom: 10px; }
					.bottom-bg {background: url(images/entry-top-bg.png) repeat-x top left; overflow:hidden; }
					.bottom-bg .excerpt { padding: 10px 17px 0px; height: 75px; }
		.textright { text-align: right; }
			.entry a.readmore { font-size: 28px; color: #a5a5a5; margin-top: -15px; display: block;}
				.entry a.readmore span { margin-right: 0px; }

	#controllers { position: relative; height: 73px; }
		/*#controllers a { display:block; height:29px; text-indent:-9999px; width:27px; position: absolute; top: 0px; } */
			#controllers span#left-arrow { background: url(images/left-arrow.png) no-repeat; left: 12px; display: block; height:29px;
width:27px; position: absolute; top:1px; }
			#controllers span#right-arrow { background: url(images/right-arrow.png) no-repeat; right: 3%; display: block; height:29px;
width:27px; position: absolute; top:1px; }

	#content-bottom-bg { background: url(images/footer-top.png) repeat-x; width: 100%; height: 4px; position: absolute; bottom: 0px; left: 0px; border-bottom: 1px solid #4a4a4a; }

		.blogstyle-entries,#left-area { float: left; width: 71%; }
		#left-area { margin-left: -3%; }
		.post, #comment-wrap { background: #ffffff url(images/entry-bottom-bg.png) repeat-x; border: 1px solid #ffffff; padding: 30px 0px 0px; box-shadow: 3px 6px 7px 1px rgba(0, 0, 0, 0.6); -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6); margin-bottom: 15px; }
			.post-content { background: url(images/entry-bottom-bg.png) repeat-x bottom left; padding: 0px 4% 30px; }
			.single-thumb { position: relative; float: left; border: 4px solid #efefef; margin-bottom: -7px; height:186px; width:186px; }
				.single-thumb .overlay { background: url(images/single-thumb-overlay.png) no-repeat; display: block; width: 186px; height: 186px; position: absolute; top: 0px; left: 0px; }
			.info-panel { width: 29%; float: left; margin-right: 3%; }
				.info-panel h3.infotitle { color: #2c2c2c; font-size: 24px; text-transform: uppercase; text-shadow: none; margin-top: 33px; padding-bottom: 9px; }
				.info-panel .tags ul li { float: left; }
					.info-panel .tags ul li a { display: block; padding: 10px 10px 8px; margin: 0px 3px 3px 0px; background: #efefef; font-size: 11px; color: #6e6e6e; text-transform: uppercase; text-shadow: 1px 1px 0px #ffffff; }
					.info-panel .tags ul li a:hover { color: #000000; text-decoration: none; }

				.post ul.related-posts li { background: url(images/post-bullet.png) no-repeat 0px 7px; padding: 0px 0px 5px 11px; }
					.post ul.related-posts li a { color: #7a7575; }
					.post ul.related-posts li a:hover { color: #000000; text-decoration: none; }

					.post-text ul { list-style-type: disc; margin: 10px 0px 10px 20px; }
					.post-text ol { list-style-type: decimal; list-style-position: inside; margin: 10px 0px 10px 2px; }
						.post-text ul li ul { margin: 2px 0px 2px 20px; }
						.post-text ol li ul  { margin: 2px 0px 2px 35px; }
				.share-panel img { margin: 0px 7px 5px 0px; }

				.hr { background: url(images/hr-bg.png) repeat-x; height: 1px; margin-bottom: 6px; }

			.post-text { float: right; width: 68%; }
				.post-text h1.title, .blog-title a { padding-bottom: 4px; color: #9a1d0d; font-size: 36px; text-transform: uppercase; }
				.blog-title a:hover { text-decoration: none; }

				p.post-meta { font-size: 18px; text-transform: uppercase; }
				p.post-meta, p.post-meta a { color: #2c2c2c; }
					p.post-meta a:hover { color: #000000; text-decoration: none; }

		#content .fullwidth { width: 100% !important; }

	#breadcrumbs { margin: -24px 0px 18px; color: #8e8e8e; font-size: 13px; text-shadow: 1px 1px 1px rgba(0,0,0,0.6); }
		#breadcrumbs a, #breadcrumbs span.raquo { color: #686767; }
		#breadcrumbs a:hover { color: #ffffff; text-decoration: none; }

	.blogstyle-entries { margin-left:-3%; }

	.entry:hover { cursor: pointer; }

/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/
/*------------------------------------------------*/

ul.nav { float: left; padding-top: 20px; }

		ul.nav a { font-size: 24px; color: #ffffff; text-decoration: none; padding-bottom: 58px; text-transform: uppercase; padding: 8px 8px 12px; text-shadow:1px 1px 1px #000; }
		ul.nav a:hover, ul.nav > li.current-menu-item > a { color: #dcc08e; text-shadow: 1px 1px 0px #000; }

	ul.nav ul { width: 202px; background: #222222; border-top: none; top: 34px !important; box-shadow: 3px 6px 7px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow:3px 6px 7px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 3px 6px 7px 1px rgba(0, 0, 0, 0.1); border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-top-left-radius: 0px;-moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; padding: 19px 0px 1px; z-index: 9999px; display: none; }
		ul.nav ul li { margin: 0px; padding: 0px 4px 17px 18px; }

			ul.nav ul li a { background: url(images/dropdown-bullet.png) no-repeat 0px 1px; padding: 0px 0px 0px 18px; width: 130px; font-size: 22px; }
			ul.nav ul li a:hover { background: url(images/dropdown-bullet.png) no-repeat 0 -233px; }

			ul.nav li:hover ul ul, ul.nav li.sfHover ul ul { top: -16px !important; left: 191px !important; border-top-right-radius: 8px; -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; }

		ul.nav li:hover ul, ul.nav li.sfHover ul { top:44px !important; }
			ul.nav ul li:hover ul, ul.nav ul li.sfHover ul { top:-8px !important; }

		ul.nav > li.sf-ul.sfHover > a { background: #222222; border-top-left-radius: 8px;-moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; border-top-right-radius: 8px;-moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; }

/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

#comment-wrap { margin-left: 31%; }
	#comment-wrap #comment-bottom-bg { background: url(images/entry-bottom-bg.png) repeat-x scroll left bottom transparent; padding: 5px 4% 28px; }
	h3#comments, h3#reply-title span { color: #9a1d0d; font-size: 36px; text-transform: uppercase; }
	ol.commentlist { background: url(images/hr-bg.png) repeat-x; }

	.comment-icon { background: url(images/comment-bottom-bg.png) no-repeat bottom left; padding-bottom: 14px; }

.comment-icon .post { padding: 3px 0px 0px; }

div.authordata { width: 100px; }
		div.avatar { float: left; position: relative; background: #efefef; padding: 4px; }

	.comment-wrap { float:left; margin-left:3%; margin-bottom: 5px; }

		.reply-container { float:right; }
			.reply-container a { font-size:11px; font-weight:normal; text-shadow:1px 1px 0 #FFFFFF; text-transform: uppercase; color: #6e6e6e; padding: 9px; background: #efefef; }
			.reply-container a:hover { text-decoration: none; color: #000000; }

	li.depth-1 .comment-wrap { width: 80%; }
	li.depth-2 .comment-wrap { width: 77%; }
	li.depth-3 .comment-wrap { width: 74%; }
	li.depth-4 .comment-wrap { width: 69%; }

	ol.commentlist { list-style:none outside none; }
		ol.commentlist ul { list-style:none outside none; }

		.commentlist li.comment li { background: none; padding: 0px; }
		.commentlist li.comment ul { margin: 8px 0px 8px 14%; }
			.commentlist li.comment ul ul { margin-left: 16%; }
				.commentlist li.comment ul ul ul { margin-left: 18%; }
					.commentlist li.comment ul ul ul ul { margin-left: 20%; }

	#respond { padding-top: 30px; padding-bottom: 10px; }
		.comment #respond { padding-left: 0px; padding-top: 5px; }
		#commentform textarea#comment { width: 88%; }
		#commentform input[type=text] { width: 40%; }
		#commentform textarea#comment, #commentform input[type=text] { background: #f6f6f6 url(images/comment-input-bg.png) repeat-x; border: 1px solid #d6d6d6; padding: 6px; }

		#submit-container { width: 90%; text-align: right; }
			input#submit { background: #efefef; border: none; padding: 8px; font-size: 11px; color: #646464; text-transform: uppercase; text-shadow: 1px 1px 0px #ffffff; }


		li.comment #respond textarea { width: 88% !important; }
		li.comment #respond input[type=text] { width: 50% !important; }

	#respond h3#comments { background: none; margin: 0px; padding: 0px; }

	.comment-author { color: #a6a6a6; font-size: 24px; }
		.comment-author .comment-meta, .comment-author .comment-meta a { color: #9c321f; font-size: 18px; }
			.comment-author .comment-meta a:hover { text-decoration: none; }
		span.fn, span.fn a { color: #2c2c2c; font-size: 24px; text-transform: uppercase; }
			span.fn a:hover { text-decoration: none; }

	.comment-content { padding-top:2px; }

	.avatar span.overlay { background: url(images/avatar-bg.png) no-repeat; height:64px; left:4px; position:absolute; top:4px;
width:64px; }

	#comment-section { min-height: 10px; }

	.commentmetadata span.month { top: 10px; }
	.commentmetadata span.date { top: 24px; }
	.commentmetadata span.month, .commentmetadata span.date { font-size: 24px; }

	li.comment { padding: 17px 0px 13px; background: url(images/hr-bg.png) bottom left repeat-x; }

/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

#footer { background: #2c2c2c url(images/footer-leftbg.png) repeat-y; }
	#footer-wrapper { background: url(images/footer-rightbg.png) repeat-y top right; padding: 20px 7% 0px; }
	#footer .widget { width: 350px; margin: 0px 0px 45px; float: left; color: #d1d1d1; text-shadow: 1px 1px 1px #000; }
		#footer h3.title {color:#dcc08e; font-size: 30px; text-transform: uppercase; margin: 30px 0px 5px 0px; }
	#footer .widget ul li { margin-bottom: 11px; }
		#footer .widget ul a { color:#d1d1d1; text-decoration: none; background: url(images/footer-bullet.png) no-repeat 0 2px; padding-left:20px; }
		#footer .widget ul a:hover { background: url(images/footer-bullet.png) no-repeat bottom left; color:#fff; }
	p#copyright { text-align: right; padding-bottom: 40px; color:#686868; text-shadow: 1px 1px 1px #000; font-size: 12px; }
		p#copyright a { color:#8c8c8c; font-weight: bold; }

	h3.title { text-shadow: 1px 1px 1px #000; }

/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/

#sidebar { float: right; margin: 0px 3% 0px 0px; width: 26%; font-size: 14px; text-shadow: 1px 1px 0px #ffffff; }
	#sidebar .widget {background: #e7e7e7 url(images/entry-bottom-bg.png) repeat-x bottom left; padding-bottom: 10px; border: 1px solid #e7e7e7; margin-bottom: 15px; box-shadow: 3px 6px 7px 1px rgba(0, 0, 0, 0.6); -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6); }
		#sidebar h3.widgettitle {color:#9a1d0d; font-size:30px; text-decoration:none; text-transform:uppercase; background: url(images/entry-top-bg.png) repeat-x bottom left; padding: 21px 5px 9px 22px;}
		.widgetcontent {padding: 10px 5px 7px 22px; color: #7a7575;}

		#sidebar .widgetcontent ul ul { margin: 0px 0px 0px 15px; }
		#sidebar .widgetcontent ul li { background: url(images/widget-bullet.png) no-repeat 0px 12px; padding:5px 0px 5px 13px; }
			#sidebar .widgetcontent ul li ul { padding:3px 0px 0px 7px; margin: 0px 0px -7px; }

		.widgetcontent a { color: #7a7575; text-decoration: none;}
			.widgetcontent a:hover { color: #595656; }

	#tabbed-area { background: #d6d6d6 url(images/entry-top-bg.png) repeat-x bottom left; margin: 0 -1px; padding-bottom: 1px; }
		#tabbed-area li { float: left; width: 33%; }
			#tabbed-area li a { font-size: 30px; color: #9a1d0d; text-shadow: 1px 1px 0px #ffffff; display: block; padding: 19px 8% 7px; background: url(images/tabbed-right-bg.png) repeat-y top right; text-transform: uppercase; }
			#tabbed-area li.last a { background: none; }
			#tabbed-area li a:hover { text-decoration: none; }
			#tabbed-area li.ui-state-active a { background-color: #e7e7e7; }
		#tabbed .tab ul li { padding: 14px 7% 10px; background: url(images/entry-top-bg.png) repeat-x bottom left; }

		#tabbed img.smallthumb { float: left; border: 3px solid #d6d6d6; margin: 0 8px 5px 0px; }
		#tabbed span.title a { color: #2b2b2b; }
		#tabbed span.title a:hover { color: #000000; text-decoration: none; }

		#tabbed span.postinfo { display: block; font: italic 11px Georgia, serif; color: #a1a1a1; padding-top:4px; }
			#tabbed span.postinfo a { color: #a1a1a1; }
			#tabbed span.postinfo a:hover { color: #2b2b2b; text-decoration: none; }


.sidebar-fixedwidth { padding-right: 245px; }
	.sidebar-fixedwidth #sidebar { width:226px; position:absolute; right:0; top:0; }
		.sidebar-fixedwidth #tabbed-area li a { font-size:24px; }

/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; }
.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }


/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/

.nav ul { position:absolute; top:-999em; background-position: bottom; background-repeat: no-repeat; z-index: 10; }
.nav li { float:left; position:relative; }
.nav a { display:block; float: left; }
	.nav li:hover ul, ul.nav li.sfHover ul { left:0px; top:50px; }
	.nav li:hover li ul, .nav li.sfHover li ul { top:-999em; }
		.nav li li:hover ul, ul.nav li li.sfHover ul { left:192px; top:0px; }
	.nav li:hover ul, .nav li li:hover ul { top: -999em; }
	.nav li li {	display: block;	padding: 0px; float: left; height: auto !important; }
	.nav li ul { width: 191px; }
		.nav li li a:link, .nav li li a:visited {	display: block; height: auto; float: left; }
		.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }


/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; color: #9f9f9f; }
		#wp-calendar td#today { color: #ffffff; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }

/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 15px 12px 0px; }

.wp-pagenavi { position: relative; text-align:center; text-shadow: 1px 1px 1px rgba(0,0,0,0.7); }
.wp-pagenavi a, .wp-pagenavi a:link { padding: 5px 7px !important; margin: 2px; text-decoration: none; border: none !important; color: #ffffff !important; background: none !important; font-weight: normal !important; font-size: 36px !important; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
.wp-pagenavi a:visited { padding: 5px 7px; margin: 2px; text-decoration: none; border: none !important; color: #ffffff !important; background: none !important; }
.wp-pagenavi span.pages { padding: 5px 7px 5px !important; margin: 2px !important ; color: #000000; border:1px solid #E9E9E9 !important; color: #413f36; background-color: #fff; display: none !important; }
.wp-pagenavi span.current, .wp-pagenavi span.extend, .wp-pagenavi a:active, .wp-pagenavi a:hover { padding: 5px 7px !important; margin: 2px; font-weight: normal !important; background: none !important; border: none !important; color:#dcc08e !important; font-size: 36px !important; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
.wp-pagenavi a.nextpostslink, .wp-pagenavi a.previouspostslink { display: none !important; }


a.readmore:hover, #sidebar div.custom-sidebar-block ul.control li a:hover, ul#cats-menu li a:hover, ul#page-menu li a:hover, div#slider-control div.featitem h2 a  { text-decoration: none; }

.js #feat-content, .js div#from-blog div.entries {display: none;}

.foursixeight { margin: 0px 0px 15px 84px;}


ul.nav a, h3.title, .wp-pagenavi, #featured h2.title, div.category a, span.month, h2.title a, p.postinfo, h3.widgettitle, #tabbed-area li a, h3.infotitle, h1.title, .blog-title, .post-meta, h3#comments, span.fn, h3#reply-title span { font-family: 'LeagueGothicRegular', Arial, sans-serif !important; }

#featured h2.title, div.category a { text-shadow: 1px 1px 1px rgba(0,0,0,0.3); }
span.month { text-shadow: 1px 2px 4px rgba(0,0,0,0.3); }
h2.title a, p.postinfo, h3.widgettitle, #tabbed-area li a { text-shadow: 1px 1px 1px #fff; }

.cufon-disabled ul.nav a { font-size:17px; }
	.cufon-disabled ul.nav ul a { font-size: 16px; }
	.cufon-disabled ul.nav ul li { padding-left: 12px; }
	.cufon-disabled ul.nav li:hover ul, .cufon-disabled ul.nav li.sfHover ul { top:39px !important; }
	.cufon-disabled .nav li li:hover ul, .cufon-disabled ul.nav li li.sfHover ul { top:-19px !important; }

.cufon-disabled div.category a { font-size:12px; text-shadow: 1px 1px 1px rgba(0,0,0,0.3); }
.cufon-disabled span.month { font-size:32px; top:60px; text-shadow: 1px 2px 4px rgba(0,0,0,0.3); }
	.cufon-disabled span.date { top:31px; }

.cufon-disabled h2.title a { font-size: 21px; }
.cufon-disabled p.postinfo { font-size:12px; }

.cufon-disabled #tabbed-area li a { font-size: 18px; padding-top: 11px; }
.cufon-disabled #sidebar h3.widgettitle { font-size:18px; padding-top: 14px; }
.cufon-disabled .wp-pagenavi span.current, .cufon-disabled .wp-pagenavi span.extend, .cufon-disabled .wp-pagenavi a:active, .cufon-disabled .wp-pagenavi a:hover { font-size:25px !important; }
.cufon-disabled .wp-pagenavi a:visited, .cufon-disabled .wp-pagenavi a, .cufon-disabled .wp-pagenavi span { font-size:25px !important; }
.cufon-disabled #footer h3.title { font-size:21px; }
.cufon-disabled .info-panel h3.infotitle { font-size:17px; }
.cufon-disabled .post-text h1.title, .cufon-disabled .blog-title a { font-size:30px; }
.cufon-disabled p.post-meta { font-size:12px; }
.cufon-disabled h3#comments { font-size:28px; }
.cufon-disabled span.fn, .cufon-disabled span.fn a { font-size:16px; }
.cufon-disabled .commentmetadata span.month, .cufon-disabled .commentmetadata span.date { font-size:20px !important; top:15px !important; }


.cufon-disabled ul.nav a, .cufon-disabled ul.nav ul a, .cufon-disabled ul.nav ul li, .cufon-disabled ul.nav li:hover ul, .cufon-disabled ul.nav li.sfHover ul, .cufon-disabled .nav li li:hover ul, .cufon-disabled ul.nav li li.sfHover ul, .cufon-disabled div.category a, .cufon-disabled span.month, .cufon-disabled span.date, .cufon-disabled h2.title, .cufon-disabled p.postinfo, .cufon-disabled #tabbed-area li a, .cufon-disabled #sidebar h3.widgettitle, .cufon-disabled .wp-pagenavi span.current, .cufon-disabled .wp-pagenavi span.extend, .cufon-disabled .wp-pagenavi a:active, .cufon-disabled .wp-pagenavi a:hover, .cufon-disabled .wp-pagenavi a:visited, .cufon-disabled .wp-pagenavi a, .cufon-disabled .wp-pagenavi span, .cufon-disabled #footer h3.title, .cufon-disabled .info-panel h3.infotitle, .cufon-disabled .post-text h1.title, .cufon-disabled .cufon-disabled .blog-title a, .cufon-disabled p.post-meta, .cufon-disabled h3#comments, .cufon-disabled span.fn, .cufon-disabled span.fn a, .cufon-disabled .commentmetadata span.month, .cufon-disabled .commentmetadata span.date { text-indent: 0px; }

.post-text img { max-width: 100%; height: auto; }

.fullwidth .post-text { width: 100%; }
.fullwidth .info-panel { display: none; }

.et_pt_gallery_entry { margin: 0 0 32px 72px !important; }

#comment-wrap .navigation { padding: 10px 0; }
	.nav-previous { float: left; }
	.nav-next { float: right; }
h3#reply-title small { display: block; }
	h3#reply-title small a { font-size: 12px; letter-spacing: 0px; }

#commentform input[type=text] { width: 40%; display: block; padding: 5px; }
#commentform textarea#comment { width: 92%; }
.commentlist #respond textarea#comment { width: 98% !important; }
.commentlist #respond input[type=text] { width: 40%; display: block; padding: 5px; }
.comment_navigation_top, .comment_navigation_bottom { padding: 0 38px 0 0; }
.comment_navigation_top { padding-top: 12px; }
.et_embedded_videos { display: none !important; }

#et_pt_gallery img { height: 136px; }
