﻿
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" ng-app="sppages">

<head>
    <title>@Configuration.GetSection("ApplicationInformation")["Name"] | {{formTitle}}</title>

    <!--Begin Metronic -->
    <!--begin:: Global Mandatory Vendors -->
    <link href="~/vendors/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    <link href="~/vendors/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/flaticon/css/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/metronic/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/fontawesome5/css/all.min.css" rel="stylesheet" type="text/css" />
    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Styles -->
    <link href="~/assets/demo/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <link rel="shortcut icon" href="~/assets/demo/media/img/logo/favicon.ico" />
    <!--End Metronic -->
    <!--Begin Template -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="robots" content="noindex,follow" />
    <link href="~/Theme/Styles/style.css" rel="stylesheet" />
    @*<link rel="dns-prefetch" href="https://fonts.googleapis.com/" />*@

    <link href="~/js/application/library/dirPagination/dirPagination.css" rel="stylesheet" />
    <!--Angular Library -->
    <script src="~/js/application/library/angular.min.js"></script>

    <!--End -->

    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <!--End Template -->

    @RenderSection("page_styles", required: false)

</head>

<body class="m-page--fluid m-page--loading-enabled m-page--loading m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">

    <div id="m-grid m-grid--hor m-grid--root m-page">
        
        <div ng-controller="layoutFrontHeaderCtrl">
            <header id="m_header" class="m-grid__item m-header " m-minimize="minimize" m-minimize-mobile="minimize" m-minimize-offset="10" m-minimize-mobile-offset="10">
                <div class="m-header__top">
                    <div class="m-container m-container--fluid m-container--full-height m-page__container" style="padding-left:3%; padding-right:3%;">
                        <div class="m-stack m-stack--ver m-stack--desktop">

                            <!-- begin::Brand -->
                            <div class="m-stack__item m-brand m-stack__item--left">
                                <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                                    <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                        <a href="/" class="m-brand__logo-wrapper">
                                            <img alt="" src="/Theme/Image/logo.png" class="m-brand__logo-default" />
                                            <img alt="" src="/Theme/Image/logo.png" class="m-brand__logo-inverse" />
                                        </a>
                                    </div>
                                    <div class="m-stack__item m-stack__item--middle m-brand__tools">
                                        <!-- begin::Topbar Toggler-->
                                        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                            <i class="flaticon-more"></i>
                                        </a>
                                        <!--end::Topbar Toggler-->
                                    </div>
                                </div>
                            </div>
                            <!-- end::Brand -->
                            <!--begin::Search-->
                            <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable- m-header-search--skin-" id="m_quicksearch" m-quicksearch-mode="default">
                                <!--begin::Search Form -->
                                <form class="m-header-search__form"></form>
                                <!--end::Search Form -->
                            </div>
                            <!--end::Search-->
                            <!-- begin::Topbar -->
                            <div class="m-stack__item m-stack__item--right m-header-head" id="m_header_nav">
                                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                                    <div class="m-stack__item m-topbar__nav-wrapper">
                                        <ul class="m-topbar__nav m-nav m-nav--inline">

                                            <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
                                                <a href="#" class="m-nav__link m-dropdown__toggle">
                                                    <span class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
                                                    <span class="m-nav__link-icon">Location</span>
                                                </a>
                                                <div class="m-dropdown__wrapper">
                                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="color: #7948e1;"></span>
                                                    <div class="m-dropdown__inner">
                                                        <div class="m-dropdown__header m--align-center" style="background: url(assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                                                            <div class="m-card-user m-card-user--skin-dark">
                                                                <div class="m-card-user__details">
                                                                    <span class="m-card-user__name m--font-weight-500">TORONTO ESCORTS</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="m-dropdown__body">
                                                            <div class="m-dropdown__content">
                                                                <ul class="m-nav m-nav--skin-light">
                                                                    <li ng-repeat="location in LocationList |orderBy:name" class="m-nav__item">
                                                                        <a href="/Search/Index/{{location.id}}?SearchBy=Location" class="m-nav__link">
                                                                            <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                                            <span class="m-nav__link-title">
                                                                                <span class="m-nav__link-wrap">
                                                                                    <span class="m-nav__link-text">{{location.name}}</span>
                                                                                    <span class="m-nav__link-badge"><span class="m-badge m-badge--success">{{location.noOfAds}}</span></span>
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="m-nav__item m-topbar__user-profile" m-dropdown-toggle="click">
                                                <a title="Login" href="#" ng-click="loginModal()" class="m-nav__link ">
                                                    <span class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
                                                    <span class="m-nav__link-icon"><span class="m-nav__link-icon-wrapper"><i class="flaticon-lock "></i></span></span>
                                                </a>
                                            </li>

                                            <li title="New Registration" class="m-nav__item m-topbar__user-profile" m-dropdown-toggle="click">
                                                <a href="#" ng-click="loadModalInInsertMode();" class="m-nav__link ">
                                                    <span class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
                                                    <span class="m-nav__link-icon"><span class="m-nav__link-icon-wrapper"><i class="flaticon-users"></i></span></span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end::Topbar -->

                        </div>
                    </div>
                </div>
            </header>

            <div class="modal fade blockui_modal" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document" style="">
                    <div class="modal-content" style="">

                        <div class="modal-header" style="margin-top: 5px;">
                            <h5 class="modal-title" id="insert_update_customer_header">
                                <span><i class="la la-plus" style="color:rgb(87, 89, 98);"></i></span>
                                <span>Login</span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="la la-remove"></span>
                            </button>
                        </div>

                        <form id="loginModel" name="loginModelForm" class="m-form m-form--fit m-form--label-align-right">
                            <div class="modal-body">
                                <div class="">
                                    <input name="EmailAddress" ng-model="loginModel.Email" type="email" class="form-control m-input m_maxlength_1_custom" placeholder="Enter Email Address" maxlength="50" required=required />
                                    <span style="color: red" ng-show="loginModelForm.Email.$touched && loginModelForm.Email.$invalid">
                                        <span ng-show="loginModelForm.Email.$error.required">Please enter email address.</span>
                                    </span>
                                </div>
                                <div class="m--margin-top-20-desktop m--margin-top-20-tablet-and-mobile">
                                    <input name="Password" ng-model="loginModel.Password" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Enter Password" maxlength="50" />
                                    <span style="color: red" ng-show="loginModelForm.Password.$touched && loginModelForm.Password.$invalid">
                                        <span ng-show="loginModelForm.Password.$error.required">Please enter password.</span>
                                    </span>
                                </div>
                                <div class="m--margin-top-20-desktop m--margin-top-20-tablet-and-mobile">
                                    <div class="m-checkbox-list text-center">
                                        <a href="#" ng-click="getForgetPasswordUrl()" class="m-link"><span>Forget Password</span></a>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <label id="lblModalLoginMsg" style="color: red;"></label>
                                </div>
                                <div class="m-form__group form-group m--align-center">
                                    <button ng-click="login()" id="btnModalLogin" type="button"
                                            class="col-md-12 btn btn-brand m-btn m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="modal fade blockui_modal" id="sign_up_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document" style="">
                    <div class="modal-content" style="">

                        <div class="modal-header">
                            <h5 class="modal-title" id="insert_update_customer_header">
                                <span><i class="la la-plus" style="color:rgb(87, 89, 98);"></i></span>
                                <span>Sign up now!</span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="la la-remove"></span>
                            </button>
                        </div>

                        <form  id="signupModel" name="signupModelForm" class="m-form m-form--fit m-form--label-align-right">
                            <div class="modal-body">
                                <div class="m--margin-top-20-desktop m--margin-top-20-tablet-and-mobile">
                                    <input name="Name" ng-model="signupModel.Name"  type="text" class="form-control m-input m_maxlength_1_custom" placeholder="Your Name" maxlength="100" required />
                                    <span style="color: red" ng-show="signupModelForm.Name.$touched && signupModelForm.Name.$invalid">
                                        <span ng-show="signupModelForm.Name.$error.required">Please enter your name.</span>
                                    </span>
                                </div>
                                <div class="m--margin-top-20-desktop m--margin-top-20-tablet-and-mobile">
                                    <input name="EmailAddress" ng-model="signupModel.Email" type="email" class="form-control m-input m_maxlength_1_custom" placeholder="Your Email Address" maxlength="50" required />
                                    <span style="color: red" ng-show="signupModelForm.Email.$touched && signupModelForm.Email.$invalid">
                                        <span ng-show="signupModelForm.Email.$error.required">Please enter email address.</span>
                                    </span>
                                </div>
                                <div class="m--margin-top-20-desktop m--margin-top-20-tablet-and-mobile">
                                    <input name="Password" ng-model="signupModel.Password" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Choose password" maxlength="50" required=required data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." />
                                    <span style="color: red" ng-show="signupModelForm.Password.$touched && signupModelForm.Password.$invalid">
                                        <span ng-show="signupModelForm.Password.$error.required">Please enter password.</span>
                                    </span>
                                </div>
                                <div class="m--margin-top-20-desktop m--margin-top-20-tablet-and-mobile">
                                    <input name="ConfirmPassword" ng-model="signupModel.ConfirmPassword" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Re type password" maxlength="50" required=required data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." />
                                    <span style="color: red" ng-show="signupModelForm.ConfirmPassword.$touched && signupModelForm.ConfirmPassword.$invalid">
                                        <span ng-show="signupModelForm.ConfirmPassword.$error.required">Please enter password.</span>
                                    </span>
                                </div>
                                <div class="m--margin-top-20-desktop m--margin-top-20-tablet-and-mobile">
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox">
                                            <input ng-model="signupModel.IAgree" type="checkbox" id="chkTermsAndConditionsModal" /> I agree to <a href="#" ng-click="getTermsOfUseUrl()" class="m-link"><span>Terms of Use</span></a> and <a href="#" ng-click="getPrivacyUrl()" class="m-link"><span>Privacy policy</span></a>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <label id="lblModalSignupMsg" style="color: red;"></label>
                                </div>
                                <div class="m-form__group form-group m--align-center">
                                    <button id="btnModalSignUp" ng-disabled="!signupModel.IAgree" ng-click="b2BCustomerSignup()" type="button"
                                            class="col-md-12 btn btn-brand m-btn m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                        SIGN IN
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

        <div class="m--margin-top-70-desktop m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
            <div class="m-grid__item m-grid__item--fluid m-wrapper" style="background-color: #2C2C2C;">
                @RenderBody()
            </div>
        </div>

        <div ng-controller="layoutFrontFooterCtrl" id="footer">
            <div id="footer-wrapper">
                <div id="footer-content" class="masoned" style="position: relative; height: 270px;">
                    <div class="col-lg-12 form-group m-form__group row ">
                        <div class="col-lg-3 form-group m-form__group info-panel">
                            <h3 class="title">Tag</h3>
                            <div class="tags clearfix">
                                <ul id="pull_tag">
                                    <li ng-repeat="tag in TagList |orderBy:title">
                                        <a href="/Search/Index/{{tag.id}}?SearchBy=Tag" rel="tag">{{tag.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 form-group m-form__group widget">
                            @*<h3 class="title">Footer Link</h3>*@
                            <ul>
                                <li ng-repeat="footerLink in MenuList |orderBy:order" style="margin-bottom: 0px;">
                                    <a href="#" ng-click="getPageUrl(footerLink.id)">{{footerLink.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 form-group m-form__group widget">
                            @*<h3 class="title">Footer Link</h3>*@
                            <ul>
                                <li ng-repeat="footerLink in FooterLinkList |orderBy:order" style="margin-bottom: 0px;">
                                    <a href="http://{{footerLink.url}}">{{footerLink.name}}</a>
                                </li>
                            </ul>
                        </div>

                        @*<div class="col-lg-3 form-group m-form__group widget">
        <h3 class="title">Recent Comments</h3>  <ul> <li ng-repeat="comments in RecentCommentsList |orderBy:name">
            <a href="/Profile/Index/{{comments.id}}">{{comments.message}}</a>               </li>
        </ul>        </div>*@

                        <div class="col-lg-3 form-group m-form__group widget">
                            <h3 class="title" style="margin-top: 0px;">Recent Posts</h3>
                            <ul>
                                <li ng-repeat="recentPost in RecentPostsList |orderBy:name" style="margin-bottom: 0px;">
                                    <span class='comment-author-link'>
                                        <a href="/Profile/Index/{{recentPost.id}}" rel="external nofollow" class="url">{{recentPost.name}}</a>
                                    </span>
                                </li>
                            </ul>
                            <div class="m--margin-top-10-desktop m--margin-top-10-tablet-and-mobile ">
                                <p id="copyright">
                                    Powered by <a href="#">Leadforce</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Begin Metronic-->
    <!--begin:: Global Mandatory Vendors -->
    <script src="~/vendors/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/vendors/popper.js/dist/umd/popper.js" type="text/javascript"></script>
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/vendors/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
    <script src="~/vendors/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    <script src="~/vendors/block-ui/jquery.blockUI.js" type="text/javascript"></script>
    <script src="~/vendors/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/vendors/js/framework/components/plugins/base/sweetalert2.init.js" type="text/javascript"></script>
    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Bundle -->
    <script src="/assets/demo/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts -->
    <script src="~/assets/app/js/dashboard.js" type="text/javascript"></script>
    <!--end::Page Scripts -->
    <script src="~/js/BlockUI_Custom.js"></script>
    <!--End Metronic-->
    <!--begin::Angular Scripts -->
    <script src="~/js/application/library/dirPagination/dirPagination.js"></script>
    <script src="~/js/application/init-module.js"></script>
    <script src="~/js/application/service/applicationConfiguration.js"></script>
    <script src="~/js/application/directive-factory.js"></script>
    <script src="~/js/application/layout-front-page.js"></script>
    <!--begin::Angular Scripts -->

    @RenderSection("scripts", required: false)

    <script type="text/javascript">

    </script>

</body>

</html>