﻿
@{
    ViewBag.Title = "Change Password";
    Layout = "_LayoutBackEnd";
}

<div class="m-content" ng-controller="changePasswordCtrl">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-lg-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form id="changePasswordModel" name="changePasswordform" class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label>Current Password:</label>
                                        <input id="CurrentPassword" name="CurrentPassword" ng-model="changePasswordModel.CurrentPassword" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Enter current password" maxlength="100" required>
                                        <span style="color: red" ng-show="changePasswordform.CurrentPassword.$touched && changePasswordform.CurrentPassword.$invalid">
                                            <span >Please enter current password.</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label for="NewPassword">New Password:</label>
                                        <input id="NewPassword" name="NewPassword" ng-model="changePasswordModel.NewPassword" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Enter new password" maxlength="100" required>
                                        <span style="color: red" ng-show="changePasswordform.NewPassword.$touched && changePasswordform.NewPassword.$invalid">
                                            <span ng-show="changePasswordform.NewPassword.$error.required">Please enter new password.</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label for="ConfirmPassword">Confirm Password:</label>
                                        <input id="ConfirmPassword" name="ConfirmPassword" ng-model="changePasswordModel.ConfirmPassword" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Enter confirm password" maxlength="100" required data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required.">
                                        <span style="color: red" ng-show="changePasswordform.ConfirmPassword.$touched && changePasswordform.ConfirmPassword.$invalid">
                                            <span ng-show="changePasswordform.ConfirmPassword.$error.required">Please enter confirm password.</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label id="lblMsg" style="color: red; text-align: center;"></label>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <button ng-click="saveChangePassword()" type="button" class="btn btn-primary m-btn m-btn--icon m-btn--air m-btn--pill" style="">Change</button>
                                    @*<button onclick="" type="button" class="btn btn-default m-btn m-btn--icon m-btn--air m-btn--pill">Cancel</button>*@
                                    <a href="#" ng-click="getHomeUrl()" type="button" class="btn btn-secondary menu_dashboard" style="">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>

@section page_styles {
}

@section Scripts {
    <script src="~/vendors/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/js/BlockUI_Custom.js"></script>
    <script src="~/js/application/change-password.js"></script>

}

