﻿
@{
    ViewBag.Title = "Email Address Verification";
}

<div class="m-content">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-lg-6">
            <div class="m-portlet">
                
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-12">
                                    <label>A verification email sent to the <strong>@ViewBag.Email</strong> email address.</label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-12">
                                    <label>Please login into the email address and click on the verification link.</label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>