﻿
@{
    ViewBag.Title = "Forget password";
}

<div class="m-content" ng-controller="forgetPasswordCtrl">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-lg-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form id="forgetPasswordModel" name="forgetPasswordForm" class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label id="lblMsg" style="color: red; text-align: center;"></label>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label>Email:</label>
                                        <input name="EmailAddress" ng-model="forgetPasswordModel.EmailAddress" type="email" class="form-control m-input m_maxlength_1_custom" placeholder="Your Email Address" maxlength="50" required />
                                        <span style="color: red" ng-show="forgetPasswordForm.EmailAddress.$touched && forgetPasswordForm.EmailAddress.$invalid">
                                            <span ng-show="forgetPasswordForm.EmailAddress.$error.required">Please enter email address.</span>
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <button id="btnForgetPassword" type="button" ng-click="forgetPassword()" class="btn btn-primary" style="width: 25%;">Reset</button>
                                    <a href="#" ng-click="getHomeUrl()" type="button" class="btn btn-secondary" style="width: 25%;">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>

@section page_styles {
}

@section Scripts {

    <script src="~/js/application/forget-password.js"></script>
}