﻿
@{
    ViewBag.Title = "Reset password";
}

<div class="m-content" ng-controller="resetPasswordCtrl">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-lg-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form id="resetPasswordModel" name="resetPasswordForm" class="m-form m-form--fit m-form--label-align-right">
                    <input  id="EmailAddress"  type="hidden" value="@ViewBag.EmailAddress">
                    <input  id="Token"  type="hidden" value="@ViewBag.Token">
                    <div class="m-portlet__body">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label for="NewPassword">New Password:</label>
                                        <input id="NewPassword" name="NewPassword" ng-model="resetPasswordModel.NewPassword" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Enter new password" maxlength="100">
                                        <span style="color: red" ng-show="resetPasswordForm.NewPassword.$touched && resetPasswordForm.NewPassword.$dirty && resetPasswordForm.NewPassword.$invalid">
                                            <span ng-show="resetPasswordForm.NewPassword.$error.required">Please enter your new password.</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label for="ConfirmPassword">Confirm Password:</label>
                                        <input id="ConfirmPassword" name="ConfirmPassword"  ng-model="resetPasswordModel.ConfirmPassword" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Enter confirm password" maxlength="100" required data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required.">
                                        <span style="color: red" ng-show="resetPasswordForm.ConfirmPassword.$touched && resetPasswordForm.ConfirmPassword.$dirty && resetPasswordForm.ConfirmPassword.$invalid">
                                            <span ng-show="resetPasswordForm.ConfirmPassword.$error.required">Please retype password.</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label id="lblMsg" style="color: red; text-align: center;"></label>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <button id="btnResetPassword" ng-click="resetPassword()" type="button" class="btn btn-primary" style="width: 25%;">Reset</button>
                                    <a href="#" ng-click="getHomeUrl()" type="button" class="btn btn-secondary" style="width: 25%;">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>

@section page_styles {
}

@section Scripts {
    <script src="~/vendors/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/js/BlockUI_Custom.js"></script>

    <script type="text/javascript">

        appModule.controller('resetPasswordCtrl', ['$http', '$scope', '$window', '$location', function ($http, $scope, $window, $location) {
            $scope.resetPasswordModel = {
                Email: null
                , Token: null
                , NewPassword: null
                , ConfirmPassword: null
            };

            $scope.getHomeUrl = function () {
                $window.location.href = "/Home/";
            };

            $scope.resetPassword = function () {
                if ($scope.resetPasswordForm.$valid) {
                    blockUI_Upload_Modal();
                    $scope.resetPasswordModel.Email = $("#EmailAddress").val(),
                        $scope.resetPasswordModel.Token = $("#Token").val(),
                    $http({
                        method: 'POST',
                        url: '/Account/ResetPassword',
                        params: $scope.resetPasswordModel,
                        headers: { 'Content-Type': "application/json" },
                        dataType: 'JSON'
                    }).then(function successCallback(response) {
                        if (response.data.success == true) {
                            $("#lblMsg").append(response.data.message);
                            $window.location.href = response.data.redirectUrl;
                        }
                        unblockUI_Upload_Modal();
                    }), function errorCallback(response) {
                        unblockUI_Upload_Modal();
                    };
                }
            };

        }]);

    </script>

}

