﻿@{
    ViewBag.Title = "Profile Page";
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}

<div id="content" class="clearfix">
    
    <div class="row">
        <div class=" row col-md-8 col-lg-8 col-sm-12 post">            
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="post-content clearfix">
                    <div class="info-panel" style="width: 100% !important; margin-right: 0px;">
                        <div class="single-thumb">
                            <div id="feature_image"></div>
                            <div class="category">
                                <ul class="post-categories">
                                    <li class="ad_location"></li>
                                </ul>
                            </div>
                            <span class="month post_month"><span class="date post_day"></span></span>
                        </div>

                        <div class="clear"></div>

                        <h3 class="infotitle">Tags</h3>
                        <div class="tags clearfix">
                            <ul id="id_wise_pull_tag"> </ul>
                        </div>

                        <h3 class="infotitle">Related Posts</h3>
                        <div class="related">
                            <ul id="related_post" class="related-posts"></ul>
                        </div>

                        <h3 class="infotitle">Share This</h3>
                        <div class="share-panel">
                            <a href="#"><img src="~/Theme/Image/twitter.png" /></a>
                            <a href="#" target="_blank"><img src="~/Theme/Image/facebook.png" alt=""></a>
                            <a href="#" target="_blank"><img src="~/Theme/Image/delicious.png" alt=""></a>
                            <a href="#" target="_blank"><img src="~/Theme/Image/digg.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12">
                <div class="post-text form-group" style="float: left !important; width: 100% !important;">
                    <h1 class="title post_name"></h1>

                    <p class="post-meta">
                        Posted by <a href="#" title="Posts by admin" rel="author">admin</a> on <span class="post_month"></span> <span class="post_day"></span>, <span class="post_year"></span> in <span class="ad_location"></span> | <a href="#"><span class="count_comments"></span> comments</a>
                    </p>

                    <div class="hr"></div>

                    <div id="long_description"></div>

                    <h1 class="title" style="margin-top: 30px;">Images</h1>
                    <div id="image_gallery"></div>

                </div>

                <div id="comment-bottom-bg">

                    <h3 id="comments"><span class="count_comments"></span> Comments</h3>

                    <ol class="commentlist clearfix">

                        <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="li-comment-16">

                            <div id="comment-16" class="comment-body clearfix recent_comments"></div>

                            <div id="respond" class="comment-respond">

                                <h3 id="reply-title" class="comment-reply-title">
                                    <span>Leave a Reply</span>
                                </h3>

                                <p class="comment-notes">
                                    <span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span>
                                </p>

                                <p class="comment-form-comment">
                                    <label for="comment">Comment</label>
                                    <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525"></textarea>
                                </p>

                                <p class="comment-form-author">
                                    <label for="author">Name <span class="required">*</span></label>
                                    <input id="author" name="author" size="30" maxlength="245" type="text">
                                </p>

                                <p class="comment-form-email">
                                    <label for="email">Email <span class="required">*</span></label>
                                    <input id="email" name="email" size="30" maxlength="100" aria-describedby="email-notes" type="text">
                                </p>

                                <p class="form-submit">
                                    <input name="btnSubmit" id="btnSubmit" class="submit" value="Submit Comment" type="button" onclick="javascript:AddRecentComment();">
                                </p>

                            </div>

                        </li>

                    </ol>

                </div>
            </div>
        </div>
        
        

        <div class="col-md-4 col-lg-4 col-sm-12">
            <div id="sidebar" style="width: 100%; float: left;" class="m--margin-left-10-desktop">

                <div id="recent-posts-44" class="widget widget_recent_entries">
                    <h3 class="widgettitle">Popular Posts</h3>
                    <div class="widgetcontent">
                        <ul id="popular_posts"></ul>
                    </div>
                </div>

                <div id="recent-posts-4" class="widget widget_recent_entries">
                    <h3 class="widgettitle">Recent Posts</h3>
                    <div class="widgetcontent">
                        <ul id="recent_post_2"></ul>
                    </div>
                </div>

                <div id="recent-comments-4" class="widget widget_recent_comments">
                    <h3 class="widgettitle">Recent Comments</h3>
                    <div class="widgetcontent">
                        <ul class="get_recent_comments" id="recentcomments"></ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    

    

</div>

@section page_styles {
<link href="~/Theme/Styles/style.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    </style>

}

@section Scripts {
    <script type="text/javascript">

        jQuery(document).ready(function () {
            GetPostDetails();
            ////initTab();
            GetIdWiseTag();
            //GetRecentPosts();
            GetPopularPosts();
            //GetRandomPosts();
            GetRecentPosts2();
            GetRelatedPost();
            GetRecentComment();
            GetTopRecentComment();
        });

        function initTab() {
            var $tabbed_area = jQuery('#tabbed'),
                $tab_content = jQuery('.tab-content'),
                $all_tabs = jQuery('#all_tabs');

            if ($tabbed_area.length) {
                $tabbed_area.tabs({ hide: true });
            };
        }

        function GetPostDetails() {
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("GetPostDetails", "Profile", new {PostId = @ViewBag.Id}))",
                data: {},
                dataType: "json",
                contentType: "application/json",
                success: function (val) {
                    //var t = JSON.parse(result);
                    var result = val.value;
                    $(".post_name").append(result.name);
                    $("#long_description").append(result.longDescription);

                    if (result.featuredImage != "")
                        $("#feature_image").append("<img src='/ApplicationImage/AdPost/" + result.featuredImage + "' alt='" + this.name + "'  class='img-thumbnail'> <span class='overlay'></span>");
                    else
                        $("#feature_image").append("<img src='/images/avatar.jpg' alt='" + this.name + "' class='img-thumbnail'> <span class='overlay'></span>");

                    $(".ad_location").append("<a href='/Search/Index/" + result.locationId + "?SearchBy=Location' rel='category tag'>" + result.locationName + "</a>");
                    $(".post_month").append(result.month);
                    $(".post_day").append(result.day);
                    $(".post_year").append(result.year);

                    var i = 0;
                    $.each(result.images, function () {
                        if (i == 0) {
                            $("#image_gallery").append("<div style='text-align: right;'><h3 class='infotitle' style='margin-top: 5px;'>" + this.title + "</h3><a target='_blank' href='/ApplicationImage/AdPost/" + this.url + "'> <img class='image text-right' style='width: 80%;' src='/ApplicationImage/AdPost/" + this.url + "'/></a></div>");
                            i = 1;
                        } else {
                            $("#image_gallery").append("<div style='text-align: left;'><h3 class='infotitle' style='margin-top: 5px;'>" + this.title + "</h3><a target='_blank' href='/ApplicationImage/AdPost/" + this.url + "'><img class='image text-right' style='width: 80%;' src='/ApplicationImage/AdPost/" + this.url + "'/></img></div>");
                            i = 0;
                        }
                    });
                },
                error: function (error) {
                    var msg = 'Fail to load post details';
                    alert(msg);
                }
            });
        }

        function GetIdWiseTag() {
            var options = $("#id_wise_pull_tag");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("GetProfileTag", "Profile", new {Id = @ViewBag.Id}))",
                data: {},
                dataType: "json",
                contentType: "application/json",
                success: function (val) {
                    //var t = JSON.parse(result);
                    var result = val.value;
                    $.each(result, function () {
                        options.append("<li><a href='/Search/Index/" + this.id + "?SearchBy=Tag' rel='tag'>" + this.title + "</a></li>");
                    });
                },
                error: function (error) {
                    var msg = 'Fail to load tag';
                    alert(msg);
                }
            });
        }

        function GetRecentPosts() {
            //Metronic.blockUI();
            var options = $("#recent_posts");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("GetRecentPost", "Home", null))",
                data: {},
                dataType: "json",
                contentType: "application/json",
                success: function (val) {
                    //var t = JSON.parse(result);
                    var result = val.value;
                    $.each(result, function () {

                        var im = "<li class='clearfix'><a href='/Profile/Index/" + this.id + "'> ";
                        if (this.featuredImageUrl != "")
                            im = im + "<img src='/ApplicationImage/AdPost/" + this.featuredImageUrl + "' class='smallthumb' alt='" + this.name + "' width='38' height='38'> ";
                        else
                            im = im + "<img src='/images/avatar.jpg' class='smallthumb' alt='" + this.name + "' width='38' height='38'> ";
                        im = im + "</a> <span class='title'><a href='/Profile/Index/" + this.Id + "'>" + this.name + "</a></span> <span class='postinfo'>Posted by <a href='#' title='Posts by admin' rel='author'>admin</a> on " + this.month + " " + this.day + ", " + this.year + "</span> </li>";
                        options.append(im);
                    });
                },
                error: function (error) {
                    var msg = 'Fail to load recent post';
                    alert(msg);
                }
            });
        }

        function GetRecentPosts2() {
            var options = $("#recent_post_2");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("GetRecentPost", "Home", null))",
                data: {},
                dataType: "json",
                contentType: "application/json",
                success: function (val) {
                    //var t = JSON.parse(result);
                    var result = val.value;
                    $.each(result, function () {
                        options.append("<li><a href='/Profile/Index/" + this.id + "'>" + this.name + "</a></li>");
                    });
                },
                error: function (error) {
                    var msg = 'Fail to load recent post';
                    alert(msg);
                }
            });
        }

        function GetPopularPosts() {
            var options = $("#popular_posts");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("GetPopularPost", "Home", null))",
                data: {},
                dataType: "json",
                contentType: "application/json",
                success: function (val) {
                    var result = val.value;
                    $.each(result, function () {
                        var im = "<li class='clearfix'><a href='/Profile/Index/" + this.id + "' style='float: left;margin-right: 1%;'> ";
                        if (this.featuredImageUrl != "")
                            im = im + "<img src='/ApplicationImage/AdPost/" + this.featuredImageUrl + "' class='smallthumb' alt='" + this.name + "' width='38' height='38'> ";
                        else
                            im = im + "<img src='/images/avatar.jpg' class='smallthumb' alt='" + this.name + "' width='38' height='38'> ";
                        im = im + "</a> <span class='title'><a href='/Profile/Index/" + this.Id + "' style='margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: 0 0;'>" + this.name + "</a></span> <span class='postinfo' style='display: block; font: italic 11px Georgia,serif;color: #a1a1a1;padding-top: 4px;'>Posted by <a href='#' title='Posts by admin' rel='author'>admin</a> on " + this.month + " " + this.day + ", " + this.year + "</span> </li>";
                        options.append(im);
                    });
                },
                error: function (error) {
                    var msg = 'Fail to load popular post';
                    alert(msg);
                }
            });
        }

        function GetRandomPosts() {
            var options = $("#random_posts");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("GetRandomPost", "Home"))",
                data: {},
                dataType: "json",
                contentType: "application/json",
                success: function (val) {
                    //var t = JSON.parse(result);
                    var result = val.value;
                    $.each(result, function () {
                        options.append("<li class='clearfix'><a href='./Profile/Index/" + this.id + "'><img src='/ApplicationImage/AdPost/" + this.featuredImageUrl + "' class='smallthumb' alt='" + this.name + "' width='38' height='38'></a><span class='title'><a href='/Profile/Index/" + this.id + "'>" + this.name + "</a></span><span class='postinfo'>Posted by <a href='#' title='Posts by admin' rel='author'>admin</a> on " + this.month + " " + this.day + ", " + this.year + "</span> </li>");
                    });
                },
                error: function (error) {
                    var msg = 'Fail to load random post';
                    alert(msg);
                }
            });
        }

        function GetRelatedPost() {
            //Metronic.blockUI();
            var options = $("#related_post");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("GetRelatedPost", "Home", new {AdPostId = @ViewBag.Id}))",
                data: {},
                dataType: "json",
                contentType: "application/json",
                success: function (val) {
                    //var t = JSON.parse(result);
                    var result = val.value;
                    $.each(result, function () {
                        options.append("<li><a href='/Profile/Index/" + this.id + "'>" + this.name + "</a></li>");
                    });
                },
                error: function (error) {
                    var msg = 'Fail to load related post';
                    alert(msg);
                }
            });
        }

        function GetRecentComment() {
            var options = $(".recent_comments");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("GetAllComments", "Profile", null))",
                data: { "AdPostId": '@ViewBag.Id' },
                dataType: "json",
                contentType: "application/json",
                success: function (val) {
                    //var t = JSON.parse(result);
                    var result = val.value;
                    $(".count_comments").append(Object.keys(result).length);
                    $.each(result, function () {
                        options.append("<div class='comment-wrap'> <div class='comment-author vcard'> <span id='"+ this.id+"' class='fn'>" + this.name + "</span> <span style='font-size: 12px; font-weight: bold;'> On " + this.postedMonth + " " + this.postedDay + ", " + this.postedYear + "</span> </div> <div class='comment-content'><p>" + this.message + " </p> </div> </div> ");
                    });
                },
                error: function (error) {
                    var msg = 'Fail to load comments';
                    alert(msg);
                }
            });
        }

        function GetTopRecentComment() {
            var options = $(".get_recent_comments");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("GetRecentComments", "Home", null))",
                data: { "AdPostId": '@ViewBag.Id' },
            dataType: "json",
            contentType: "application/json",
            success: function (val) {
                //var t = JSON.parse(result);
                var result = val.value;
                $.each(result, function () {
                    options.append("<li class='recentcomments'><span class='comment-author-link'><a href='#"+ this.id+"' rel='external nofollow' class='url'>" + this.message + "</a></span></li>");
                });
            },
            error: function (error) {
                var msg = 'Fail to load comments';
                alert(msg);
            }
        });
        }

        function ValidationCheck() {
            if ($('#comment').val() == "") {
                alert("Please insert comments.");
                $('#comment').focus();
                return false;
            }
            else if ($('#author').val() == "") {
                alert("Please insert your name.");
                $('#author').focus();
                return false;
            } else if ($('#email').val() == "") {
                alert("Please insert email address.");
                $('#email').focus();
                return false;
            } else {
                return true;
            }
        }

        function AddRecentComment() {
            if (ValidationCheck()) {
                var options = $(".recent_comments");
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: "@(@Url.Action("AddRecentComment", "Profile"))",
                    data: { "Name": $('#author').val(), "Message": $('#comment').val(), "AdPostId": '@ViewBag.Id', "EmailAddress": $('#email').val() },
                    dataType: "json",
                    contentType: "application/json",
                    success: function (val) {
                        var result = val.value;
                        //var t = JSON.parse(result);
                        options.append("<div class='comment-wrap'> <div class='comment-author vcard'> <span class='fn'>" + $('#author').val() + "</span> <span style='font-size: 12px; font-weight: bold;'> On " + result.postedMonth + " " + result.postedDay + ", " + result.postedYear + "</span> </div> <div class='comment-content'><p>" + $('#comment').val() + " </p> </div> </div> ");
                        $('#author').val("");
                        $('#comment').val("");
                        $('#email').val("");
                        //});
                    },
                    error: function (error) {
                        var msg = 'Fail to load loation';
                        alert(msg);
                    }
                });
            }
        }

    </script>
}