﻿@model IEnumerable<Sppages.Model.Master.TagModel>
@{
    ViewBag.Title = "Ad Management";
    Layout = "_LayoutBackEnd";
}

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    @ViewBag.Title
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav"><li class="m-portlet__nav-item"></li></ul>
        </div>
    </div>

    <div class="m-portlet__body">

        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">
                        <div class="col-md-4">
                            <div class="m-form__group m-form__group--inline">
                                <div class="m-form__label">
                                    <label>Status:</label>
                                </div>
                                <div class="m-form__control">
                                    <select class="form-control m-bootstrap-select1" id="m_form_status">
                                        <option value="All">All</option>
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-md-none m--margin-bottom-10"></div>
                        </div>

                        <div class="col-md-4">
                            <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                    <a href="@Url.Action("Save", "AdPost", new{Area="B2B"})" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" onclick="javascript: loadModalInInsertMode();">
                        @*data-toggle="modal" data-target="#m_maxlength_modal">*@
                        <span>
                            <i class="la la-plus"></i>
                            <span>New</span>
                        </span>
                    </a>
                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                </div>
            </div>
        </div>

        <div class="ad_datatable" id="ajax_data"></div>

    </div>

</div>

@section page_styles {
    <link href="~/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="~/vendors/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/js/BlockUI_Custom.js"></script>
    <script>

        jQuery(document).ready(function() {
            initAdDatatable();
        });

        var initAdDatatable = function() {
            var datatable = $('.ad_datatable').mDatatable({
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: "@(@Url.Action("GetAdpostList", "AdPost", new {Area = "B2B", B2BId= ViewBag.CurrentUser }))", //+ "?B2BId="+ "1212"
                            map: function(raw) {
                                var dataSet = raw;
                                if (typeof raw.data !== 'undefined') {
                                    dataSet = raw.data;
                                }
                                return dataSet;
                            }
                        }
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },

                layout: {
                    scroll: false,
                    footer: false
                },

                sortable: true,

                pagination: true,

                toolbar: {
                    placement: ['bottom'],
                    items: {
                        pagination: {
                            pageSizeSelect: [10, 20, 30, 40, 50, 100]
                        }
                    }
                },

                search: {
                    input: $('#generalSearch')
                },

                columns: [
                    {
                        field: 'id',
                        title: 'Id',
                        sortable: 'asc', // default sort
                        filterable: false // disable or enable filtering
                        //template: '{{OrderID}} - {{ShipCountry}}',
                    },
                    {
                        field: 'name',
                        title: 'Name'
                    },
                    {
                        field: 'age',
                        title: 'Age'
                    },
                    {
                        field: 'createdDate',
                        title: 'Created Date',
                        type: 'date',
                        format: 'MM/DD/YYYY'
                    },
                    {
                        field: 'status',
                        title: 'Status',
                        //sortable: false,
                        template: function(row) {
                            var status = {
                                'Active': { 'title': 'Active', 'class': ' m-badge--success' },
                                'Inactive': { 'title': 'Inactive', 'class': ' m-badge--danger' },
                            };
                            return '<span class="m-badge ' +
                                status[row.status].class +
                                ' m-badge--wide">' +
                                status[row.status].title +
                                '</span>';
                        }
                    },
                    {
                        field: 'Actions',
                        title: 'Actions',
                        sortable: false,
                        overflow: 'visible',
                        template: function(row, index, datatable) {
                            return "<a href=\"AdPost/Save/" +
                                row.id +
                                "\" class=\"m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill\" title=\"Edit details\"><i class=\"la la-edit\"></i></a> <a onclick=\"javascript:if (confirm('Are you sure you want to delete?') == false) return false; Delete('" +
                                row.id +
                                "');\" class=\"m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill\" title=\"Delete details\"><i class=\"la la-trash\"></i></a>";
                        }
                    }
                ]
            });

            $('#m_form_status').on('change',
                function() {
                    datatable.search($(this).val(), 'Status');
                });

            //$('#m_form_type').on('change', function () {
            //    datatable.search($(this).val(), 'Type');
            //});

            //$('#m_form_status, #m_form_type').selectpicker();

        };

        function Delete(id) {
            blockUI_Page();
            var fd = new FormData();
            fd.append("Id", id);
            $.ajax({
                type: "DELETE",
                url: "@(@Url.Action("Delete", "AdPost", new {Area = "Ad"}))",
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    $('.ad_datatable').mDatatable().search('', 'Status');
                    if (data.success)
                        alert(data.message);
                    else
                        alert(data.message);
                },
                failure: function(response) {
                },
                error: function(XMLHttpRequest, textStatus) {
                }
            });
            unblockUI_Page();
        }
    </script>

}

