﻿@model IEnumerable<Sppages.Model.Ad.AdPostModel>
@{
    ViewBag.Title = "Save Ad Information";
    Layout = "_LayoutBackEnd";
}

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form id="save_information" class="m-form m-form--fit m-form--label-align-right">
                    <input id="Id" type="hidden" value="@ViewBag.AdPostId">
                    <input id="Picture" type="hidden">
                    <div class="m-portlet__body">

                        <div class="row">
                            <div class="col-lg-8">

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label>Name:</label>
                                        <input id="Name" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="200" required placeholder="Enter ad name">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="">Age:</label>
                                        <input id="Age" type="text" class="form-control m-input m_maxlength_1_custom" required maxlength="3" placeholder="Enter age">
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label class="">Long Description:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <div id="LongDescription" class="summernote_custom"></div>
                                            @*<input id="LongDescription" type="text" class="summernote_custom form-control m-input m_maxlength_1_custom" placeholder="Enter long description">*@
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label class="">Location:</label>
                                        <select id="LocationId" class="form-control m-input m-input--air"></select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="">Seo Title:</label>
                                        <input id="SeoTitle" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="200" placeholder="Enter seo title">
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">

                                    <div class="col-lg-12">
                                        <label class="">Meta Keywords:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input id="MetaKeywords" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="200" placeholder="Enter meta keywords">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label class="">Meta Description:</label>
                                        <input id="MetaDescription" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="500" placeholder="Enter meta description">
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6">
                                        <label class="">Status:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <select class="form-control m-input m-input--air" id="Status">
                                                <option>Active</option>
                                                <option>Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="ad_post_edit" class="col-lg-4" style="display: none;">
                                <div class="form-group m-form__group">

                                    <div class="m-portlet m-portlet--mobile">
                                        <div class="m-portlet__head">
                                            <div class="m-portlet__head-caption">
                                                <div class="m-portlet__head-title">
                                                    <h3 class="m-portlet__head-text">
                                                        Ad Image
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="m-portlet__head-tools">
                                                <ul class="m-portlet__nav"><li class="m-portlet__nav-item"></li></ul>
                                            </div>
                                        </div>

                                        <div class="m-portlet__body">

                                            <div class="form-group m-form m-form--label-align-right">
                                                <div class="align-items-center">
                                                    <div class="order-1 order-xl-2 m--align-right">
                                                        <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" onclick="javascript: loadModalForImageUplod();">
                                                            <span>
                                                                <i class="la la-plus"></i>
                                                                <span>New</span>
                                                            </span>
                                                        </a>
                                                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ad_datatable" id="ajax_data"></div>

                                        </div>

                                    </div>

                                </div>

                                <div class="form-group m-form__group">

                                    <div class="m-portlet m-portlet--mobile">
                                        <div class="m-portlet__head">
                                            <div class="m-portlet__head-caption">
                                                <div class="m-portlet__head-title">
                                                    <h3 class="m-portlet__head-text">
                                                        Tag
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="m-portlet__head-tools">
                                                <ul class="m-portlet__nav"><li class="m-portlet__nav-item"></li></ul>
                                            </div>
                                        </div>

                                        <div class="m-portlet__body">

                                            <div class="form-group m-form m-form--label-align-right">
                                                <div class="align-items-center">
                                                    <div class="order-1 order-xl-2 m--align-right">
                                                        <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" onclick="javascript:loadModalForAddTag();">
                                                            <span>
                                                                <i class="la la-plus"></i>
                                                                <span>New</span>
                                                            </span>
                                                        </a>
                                                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tag_datatable" id="ajax_data"></div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <button id="btnSaveUpdate" type="button" class="btn btn-primary" style="width: 12%;">Save</button>
                                    <a href="@Url.Action("Index", "AdPost", new{Area="Ad"})" type="button" class="btn btn-secondary" style="width: 12%;">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade blockui_modal" id="upload_image_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="">Upload Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-remove"></span>
                </button>
            </div>

            <form id="upload_image" class="m-form m-form--fit m-form--label-align-right">
                <div class="modal-body">
                    <div class="form-group m-form__group row">

                        <input type='hidden' id="Id" />
                        <div class="col-lg-12 row">
                            <label class="col-form-label col-lg-1 col-sm-12">Title</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input type='text' class="form-control m_maxlength_1_custom" id="Title" maxlength="100" />
                            </div>
                        </div>

                        <div class="row col-md-12 form-group">
                            <img id="imgImage" class="img-responsive" />
                        </div>

                        <div class="row col-md-4">
                            <span class="btn btn-focus m-btn m-btn--pill fileinput-button-property" style="">
                                <i class="la la-plus"></i>
                                <span>SELECT IMAGE</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="imgUploadImage" type="file">
                            </span>
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <button id="btnUpload" onclick="javascript: uploadImage();" type="button" class="btn btn btn-focus m-btn m-btn--pill">
                                <span>
                                    <i class="la la-upload"></i>
                                    <span>Start Upload</span>
                                </span>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnDone" type="button" class="btn btn-brand m-btn" data-dismiss="modal">Done</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade blockui_modal" id="add_tag_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="">Add Tag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-remove"></span>
                </button>
            </div>

            <form id="upload_image" class="m-form m-form--fit m-form--label-align-right">
                <div class="modal-body">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12 row">
                            <label class="col-form-label col-lg-1 col-sm-12">Title</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <select id="TagId" class="form-control m-input m-input--air" required></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-brand m-btn" data-dismiss="modal">Close</button>
                    <button id="btnSaveTag" type="button" class="btn btn-secondary m-btn" onclick="javascript: saveAdTag();">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>

@Html.Hidden("locationUrl", Url.Action("LoadLocation", "AdPost", new { Area = "B2B" }))
@Html.Hidden("adPostSaveUrl", Url.Action("InsertUpdate", "AdPost", new { Area = "B2B" }))
@Html.Hidden("adPostLoadUrl", Url.Action("GetAdPost", "AdPost", new { Area = "B2B" }))

@Html.Hidden("adPostImageListUrl", Url.Action("GetAdPostImageList", "AdPost", new { Area = "B2B", AdPostId = ViewBag.AdPostId }))
@Html.Hidden("adPostTagListUrl", Url.Action("GetAdPostTagList", "AdPost", new { Area = "B2B", AdPostId = ViewBag.AdPostId }))
@Html.Hidden("adPostUploadImageUrl", Url.Action("UploadImage", "AdPost", new { Area = "B2B" }))
@Html.Hidden("adPostImageDeleteUrl", Url.Action("RemoveAdPostImage", "AdPost", new { Area = "B2B" }))

@Html.Hidden("adPostLoadTagUrl", Url.Action("LoadTag", "AdPost", null))
@Html.Hidden("adPostSaveTagUrl", Url.Action("SaveAdTag", "AdPost", new { Area = "B2B" }))
@Html.Hidden("adPostDeleteTagUrl", Url.Action("RemoveAdTag", "AdPost", new { Area = "B2B" }))

@section page_styles {

    <link href="~/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

    <!--begin summernote Styles -->
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <!--end summernote Styles -->

    <style type="text/css">
        .fileinput-button-property {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

            .fileinput-button-property input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }
    </style>

}
@section Scripts {
    <script src="~/vendors/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-maxlength.js" type="text/javascript"></script>

    <script src="~/vendors/summernote/dist/summernote.js" type="text/javascript"></script>
    <script src="~/js/B2BAdpostTag.js"></script>
    <script src="~/js/B2BAdPostImage.js"></script>
    <script src="~/js/B2BAdPostSave.js"></script>

}
